<?xml version="1.0"?>
<!-- File: app/code/Pulsestorm/HelloWorldMVVM/etc/frontend/routes.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard"><!-- for frontend -->
        <route id="tutorial" frontName="tutorial"><!-- Should be the same -->
            <module name="Raket_Tutorial" />
        </route>
    </router>
</config>